.App {
  text-align: center;
}

.App-header {
    min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-family: 'Cinzel', serif;
  font-size: calc(10px + 7.5vmin);
  border-bottom: 3px solid white;
  /* border-radius: 10%; */
  background: -webkit-linear-gradient(left, #ff9999, #98a5fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}